.body{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    color: darkgray;
}

#banner {
    width: 100%;
    height: 85px;
    background-color: darkslategray;
    color: lightcyan;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    padding-top: 15px;
}

h1 {
    font-size: 18px;
    margin: 20px;
    text-align: center;
}

#cities {
    border: 1.5px solid darkgray;
    padding: 15px;
    margin: 25px;
    height: flex;
   
    
}

#mainDisplay {
    border: 1.5px solid darkgray;
    padding: 15px;
    margin: 25px;
    height: 250px;
    
}

#day1 {
    border: 1.5px solid darkgray;
    margin-left: 320px;
    width: 200px;
    color: red;
}

#day2 {
    border: 1.5px solid darkgray;
    margin-left: 25px;
    width: 200px;
    color: red;
}

#day3 {
    border: 1.5px solid darkgray;
    margin-left: 25px;
    width: 200px;
    color: red;
}

#day4 {
    border: 1.5px solid darkgray;
    margin-left: 25px;
    width: 200px;
    color: red;
}

#day5 {
    border: 1.5px solid darkgray;
    margin-left: 25px;
    width: 200px;
    color: red;
}